/* Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("up.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.pinkie-swear-thumbnail-image:hover {
  background-color: rgba(255, 255, 255, 0.66);
  background-blend-mode: lighten;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

:root {
  --primary-text-color: #DD3E3E;
  --body-typeface: 'Space Grotesk', sans-serif;
  --background-color: #FFF5F5;
  --light: #ffffff;
  --sky: #7f9cf5;
  --purple: #97266d;
  --dark: #81899b;  
}

/* Theme Switches */


.theme-switches {
  display: flex;
  justify-content: center;
}

.switch {
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.switch:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

#switch-1 {
  background-color: var(--light);
}
#switch-2 {
  background-color: var(--sky);
}
#switch-3 {
  background-color: var(--purple);
}
#switch-4 {
  background-color: var(--dark);
}






/* Start */


body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  min-height: 100vh;
}

::selection {
  background: rgb(255, 186, 220);
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */

}

/*svg {
  max-width: 100%;
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/
/*my name font*/
h1 {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3;
}
/*project name font*/
h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: .5rem;
}
/*project page secondary text under title*/
h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: .3rem;
}

.bio {font-size: 2.225rem;}
/*nice things font in bio about page*/
h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3;
}
.bio-sub-heading {margin-bottom: .75rem;}

/*awards on project page*/
h5 {
  font-family: 'Space Mono', monospace;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: .5rem;
}

/* Hyperlink Styles */
a {
  color: var(--primary-text-color);
}

a:hover,
a:active {}


p {
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.2;
}



/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2.22222222vh;
  padding: 3.5vh 3.5vh 3.5vh 3.5vh;
  /* place-items: center; */

}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/



.pinkie-swear-thumbnail {
  width: 200px;
  height: 146px;
  position: relative; /* Required to contain overlay size */

}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.75s ease;
  background: rgba(255, 255, 255, 0.66);
}

.pinkie-swear-thumbnail:hover .overlay {
  opacity: 0;
}


/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/


.button1 {
  background-color: #FFF5F5;
  border: 2.5px solid white;
  display: block;
  height: 38px;
  width: 38px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.button2 {
  background-color: #D2F4FF;
  border: 2.5px solid white;
  display: block;
  height: 38px;
  width: 38px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.button3 {
  background-color: #53815D;
  border: 2.5px solid white;
  display: block;
  height: 38px;
  width: 38px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.button4 {
  background-color: #DD3E3E;
  border: 2.5px solid white;
  display: block;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}


/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/



.arrow {
  padding-right: 1rem;
}



/*


███╗   ███╗███████╗██████╗ ██╗ █████╗ 
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗
██╔████╔██║█████╗  ██║  ██║██║███████║
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝
                                                                               
                                           
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
  .button-container {
    display:none;
  }
  .branding { 
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    display:flex;
  }
  .xlogo {
    width: 90px;
    height: 110px;
  }
  h1 {
    margin-left: .6rem;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1;
  }
  .awards {
    font-size: .8rem;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 4vh;
  }

  .bio {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 2.5vh;
  }
  .bio-sub-heading {
    font-size: 1rem;
    text-align: center;
  }

  .about-text {
    grid-column: 1 / 5;
    grid-row: 4 / 8;
  }
  .header-menu-item {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.7;
    text-align: right;
  }
  .header-menu {
    max-width: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 7;
    justify-items: center;
  }

  .project-wrapper {
    grid-column: 1 / 5;
    grid-row: 3 / 20;
    display: grid;
  }
  
  /* Sidebar */
  .project-aside {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    padding-bottom: 2vh;
  }
  .project-navigation {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
  }
  .project-info {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  
  /* Main Project Image Area */
  .project-images {
    grid-column: 1 / 5;
    grid-row: 6 / 35;
  }
  .project-pic {
    margin-bottom: 3vh;
  }

  /* THUMBNAIL IMAGES */
  .capstone-thumbnail {
    grid-column: 1 / 3;
    grid-row: 4 / 7;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
    padding-top: 3vh;
  }

  .kickboxing-thumbnail {
    grid-column: 2 / 5;
    grid-row: 9 / 18;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .indigenous-thumbnail {
    grid-column: 1 / 4;
    grid-row: 21 / 30;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .gossamer-gin-thumbnail {
    grid-column: 2 / 4;
    grid-row: 33 / 42;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .keyboard-thumbnail {
    grid-column: 2 / 5;
    grid-row: 45 / 54;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .butterly-thumbnail {
    grid-column: 1 / 3;
    grid-row: 57 / 60;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .pinkie-swear-thumbnail {
    grid-column: 2 / 5;
    grid-row: 69 / 78;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }


  .baobao-thumbnail {
    grid-column: 1 / 4;
    grid-row: 81 / 90;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .profile-pic {
    grid-column: 1 / 5;
    grid-row: 17 / 20;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(77, 1fr);
    grid-template-rows: repeat(45, 2.06666666666vh);
    padding: 3.5vh 3.5vh 3.5vh 3.5vh;
  }

  h1 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.1;
  }

  .awards {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
  }

  .bio {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 2rem;
    padding-top: 0;
    text-align: left;
  }
  .bio-sub-heading {
    text-align: left;
  }

  .about-text {
    grid-column: 43 / 69;
    grid-row: 9 / 30;
  }

  .header-menu-item {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: right;
  }

  .button-container {
    display: block;
    grid-column: 77 / 78;
    grid-row: 37 / 44;
    justify-items: center;
    align-items: center;
  }

  .button1,
  .button2,
  .button3,
  .button4 {
    border: 0.25vh solid white;
    width: 4vh;
    height: 4vh;
    margin-bottom: 1vh;
  }

  .header-menu {
    max-width: 100%;
    grid-column: 68 / 78;
    grid-row: 1 / 7;
    justify-items: center;
  }

  .branding {
    grid-column: 1 / 17;
    grid-row: 1 / 7;
    display: flex;
  }

  .xlogo {
    width: 100px;
    height: 120px;
  }

  .name {
    margin-left: .2rem;
  }

  .project-wrapper {
    grid-column: 2 / 76;
    grid-row: 8 / 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Sidebar */
  .project-aside {
    width: 45%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .project-navigation {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
  }
  
  .arrow {
    padding-right: 1rem;
  }
  /*project name font*/
h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .75rem;
}
/*project page secondary text under title*/
h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: .5rem;
}
/*awards on project page*/
h5 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: .75rem;
}
p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}
  
  /* Main Project Image Area */
  .project-images {
    width: 100%;
    padding: 1rem;
  }
  .project-pic {
    margin-bottom: 3rem;
  }

  /* THUMBNAIL IMAGES */
  .capstone-thumbnail {
    grid-column: 5 / 19;
    grid-row: 14 / 32;

    justify-items: center;
    align-items: center;
  }

  .kickboxing-thumbnail {
    grid-column: 26 / 47;
    grid-row: 6 / 18;
    justify-items: center;
    align-items: center;
  }

  .indigenous-thumbnail {
    grid-column: 4 / 24;
    grid-row: 32 / 46;
    justify-items: center;
    align-items: center;
  }

  .gossamer-gin-thumbnail {
    grid-column: 54 / 73;
    grid-row: 22 / 32;
    justify-items: center;
    align-items: center;
  }

  .keyboard-thumbnail {
    grid-column: 55 / 72;
    grid-row: 35 / 48;
    justify-items: center;
    align-items: center;
  }

  .baobao-thumbnail {
    grid-column: 54 / 74;
    grid-row: 9 / 22;
    justify-items: center;
    align-items: center;
  }

  .pinkie-swear-thumbnail {
    grid-column: 30 / 48;
    grid-row: 36 / 52;
    justify-items: center;
    align-items: center;
  }

  .butterly-thumbnail {
    grid-column: 29 / 43;
    grid-row: 19 / 35;
    justify-items: center;
    align-items: center;
  }

  .profile-pic {
    grid-column: 10 / 40;
    grid-row: 9 / 30;
  }

}

/* LARGE
DEVICES
(desktops, 1000px and up) */
@media (min-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(77, 1fr);
    grid-template-rows: repeat(45, 2.06666666666vh);

      padding: 3.5vh 3.5vh 3.5vh 3.5vh;
    /* Top Right Bottom Left */

  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.15;
  }

  .name {
    margin-left: .3rem;
  }

  .button-container {
    grid-column: 77 / 78;
    grid-row: 36 / 44;
  }

  .button1,
  .button2,
  .button3,
  .button4 {
    width: 4.5vh;
    height: 4.5vh;
  }

  .header-menu {
    max-width: 100%;
    grid-column: 71 / 78;
    grid-row: 1 / 7;
    justify-items: center;
  }

  .header-menu-item {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: right;
  }

  .branding {
    grid-column: 1 / 17;
    grid-row: 1 / 7;
    display: flex;
  }

  .xlogo {
    width: 113px;
    height: 131px;
  }

  .project-wrapper {
    grid-column: 4 / 75;
    grid-row: 9 / 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Sidebar */
  .project-aside {
    width: 40%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .project-navigation {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
  }
  
  .arrow {
    padding-right: 1rem;
  }
  /*project name font*/
h2 {
  font-size: 2.9rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .75rem;
}
/*project page secondary text under title*/
h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: .5rem;
}
/*awards on project page*/
h5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: .75rem;
}
p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}
  
  /* Main Project Image Area */
  .project-images {
    width: 100%;
    padding: 1rem;
  }
  .project-pic {
    margin-bottom: 3rem;
  }

  /* THUMBNAIL IMAGES */
  .capstone-thumbnail {
    grid-column: 5 / 19;
    grid-row: 14 / 32;
  }

  .kickboxing-thumbnail {
    grid-column: 27 / 48;
    grid-row: 4 / 16;
  }

  .indigenous-thumbnail {
    grid-column: 4 / 24;
    grid-row: 32 / 46;
  }

  .gossamer-gin-thumbnail {
    grid-column: 58 / 74;
    grid-row: 22 / 29;
  }

  .keyboard-thumbnail {
    grid-column: 55 / 72;
    grid-row: 33 / 46;
  }

  .baobao-thumbnail {
    grid-column: 57 / 76;
    grid-row: 9 / 21;
  }

  .pinkie-swear-thumbnail {
    grid-column: 31 / 47;
    grid-row: 36 / 51;
  }

  .butterly-thumbnail {
    grid-column: 30 / 42;
    grid-row: 18 / 32;
  }

  .profile-pic {
    grid-column: 10 / 40;
    grid-row: 9 / 30;
  }
 
}

@media (min-width: 1200px) {
  .xlogo {
    width: 133px;
    height: 154px;
  }
  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .name {
    margin-left: .5rem;
  }
  .bio {
    font-size: 1.8rem;
  }
  .project-aside {
    width: 30%;
  }
  .project-wrapper {
    grid-column: 4 / 76;
    grid-row: 10 / 200;
  }

   /* OVERLAY IMAGES */
   #smiley1-overlay {
    grid-column: 20 / 24;
    grid-row: 20 / 26;
    display: none;
    width: 80px;
    height: 102px;
    z-index: 20;
   }
   #arrow2-overlay {
    grid-column: 56 / 66;
    grid-row: 37 / 39;
    display: none;
    z-index: 20;
   }
   #pinkieswear-overlay {
    grid-column: 42 / 52;
    grid-row: 23 / 30;
    display: none;
    z-index: 20;
   }

   /* THUMBNAIL IMAGES */
   .capstone-thumbnail {
    grid-column: 7 / 17;
    grid-row: 12 / 26;
  }

  .kickboxing-thumbnail {
    grid-column: 24 / 40;
    grid-row: 5 / 14;
  }

  .indigenous-thumbnail {
    grid-column: 4 / 20;
    grid-row: 31 / 41;
  }

  .gossamer-gin-thumbnail {
    grid-column: 26 / 40;
    grid-row: 20 / 33;
  }

  .keyboard-thumbnail {
    grid-column: 28 / 41;
    grid-row: 36 / 44;
  }

  .baobao-thumbnail {
    grid-column: 48 / 64;
    grid-row: 8 / 19;
  }

  .pinkie-swear-thumbnail {
    grid-column: 47 / 60;
    grid-row: 26 / 36;
  }

  .butterly-thumbnail {
    grid-column: 67 / 77;
    grid-row: 21 / 32;
  }
}


/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1390px) {

  .bio {
    font-size: 2.1rem;
  }

  .header-menu {
    max-width: 100%;
    grid-column: 71 / 78;
    grid-row: 1 / 7;
    justify-items: center;
  }

  .branding {
    grid-column: 1 / 17;
    grid-row: 1 / 7;
    display: flex;
  }

  /* THUMBNAIL IMAGES */
  .capstone-thumbnail {
    grid-column: 7 / 17;
    grid-row: 12 / 26;
  }

  .kickboxing-thumbnail {
    grid-column: 24 / 40;
    grid-row: 4 / 13;
  }

  .indigenous-thumbnail {
    grid-column: 4 / 20;
    grid-row: 31 / 41;
  }

  .gossamer-gin-thumbnail {
    grid-column: 27 / 40;
    grid-row: 20 / 32;
  }

  .keyboard-thumbnail {
    grid-column: 29 / 41;
    grid-row: 35 / 42;
  }

  .baobao-thumbnail {
    grid-column: 48 / 64;
    grid-row: 8 / 19;
  }

  .pinkie-swear-thumbnail {
    grid-column: 47 / 60;
    grid-row: 26 / 36;
  }

  .butterly-thumbnail {
    grid-column: 67 / 76;
    grid-row: 22 / 32;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1900px) {
  .xlogo {
    width: 173px;
    height: 194px;
  }
  h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.25;
  }
  h4 {
    font-size: 1.4rem;
  }
  .awards {
    font-size: 1.3rem;
    line-height: 1.7;
  }
  .name {
    margin-left: 1.2rem;
  }
  .header-menu-item {
    font-size: 1.6rem;
    line-height: 1.7;
  }
  .bio {
    font-size: 2.9rem;
  }
}