/* Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("up.png"), auto !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Overlay artwork should not interrupt a thumbnail's hover state. */
[id$="-overlay"] {
  pointer-events: none;
}


/* .pinkie-swear-thumbnail-image:hover {
  background-color: rgba(255, 255, 255, 0.66);
  background-blend-mode: lighten;
} */

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

:root {
  --primary-text-color: #DD3E3E;
  --body-typeface: 'Space Grotesk', sans-serif;
  --background-color: #FFF5F5;
  --pearl: #FFF5F5;
  --red: #DD3E3E;
  --green: #53815D;
  --blue: #E3F8FF;  
}

/* Theme Switches */


/* .theme-switches {
  display: flex;
  justify-content: center;
} */

.switch {
  border: 0.156rem solid white;
  display: block;
  height: 2.375rem;
  width: 2.375rem;
  margin-bottom: 0.625rem;
  border-radius: 50%;
  cursor: pointer;
}

.switch:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

#switch-1 {
  background-color: var(--pearl);
}
#switch-2 {
  background-color: var(--red);
}
#switch-3 {
  background-color: var(--green);
}
#switch-4 {
  background-color: var(--blue);
}


.cls-1 {fill: var(--red)}



/* Start */


body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  min-height: 100vh;
}

::selection {
  background: rgb(255, 186, 220);
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */

}

/*svg {
  max-width: 100%;
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/
/*my name font*/
h1 {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3;
}
/*project name font*/
h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: .5rem;
}
/*project page secondary text under title*/
h3 {
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: .3rem;
}

.bio {font-size: 2.225rem;}
/*nice things font in bio about page*/
h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3;
}
.bio-sub-heading {margin-bottom: .75rem;}

/*awards on project page*/
h5 {
  font-family: 'Space Mono', monospace;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: .2rem;
}

/* Hyperlink Styles */
a {
  color: var(--primary-text-color);
}

a:hover,
a:active {}


p {
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: .5rem;
}



/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2.22222222vh;
  padding: 3.5vh 3.5vh 3.5vh 3.5vh;
  /* place-items: center; */

}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/



/* .pinkie-swear-thumbnail {
  width: 200px;
  height: 146px;
  position: relative;  (Required to contain overlay size)
} 


 .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.75s ease;
  background: rgba(255, 255, 255, 0.66);
}

.pinkie-swear-thumbnail:hover .overlay {
  opacity: 0;
} */


/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/
/* this is for project pages */
.social-icons{
  display: flex;
  height: 2rem;
  justify-content: center;
}
/* this is for about page */
.social-icons-2{
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-bottom: 2.3rem;
}
/* this is for mobile */
.social-icons-3{
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-bottom: .5rem;
}
.social-icons-4{
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-bottom: .5rem;
}
/* this is for project pages */
.icon {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
/* this is for about page */
.icon-2 {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* .button1 {
  background-color: #FFF5F5;
  border: 2.5px solid white;
  display: block;
  height: 38px;
  width: 38px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.button2 {
  background-color: #D2F4FF;
  border: 2.5px solid white;
  display: block;
  height: 38px;
  width: 38px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.button3 {
  background-color: #53815D;
  border: 2.5px solid white;
  display: block;
  height: 38px;
  width: 38px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.button4 {
  background-color: #DD3E3E;
  border: 2.5px solid white;
  display: block;
  height: 38px;
  width: 38px;
  border-radius: 50%;
} */


/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-page-awards {
  margin-bottom: .5rem;
}

.arrow {
  padding-right: 1rem;
  padding-left: 1rem;
}

.project-pics-beside-each-other {
  display: flex;
  justify-items: center;
  width: 50%;
}

.project-pic{
  width: 100%;
}


/*


███╗   ███╗███████╗██████╗ ██╗ █████╗ 
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗
██╔████╔██║█████╗  ██║  ██║██║███████║
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝
                                                                               
                                           
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
  .button-container {
    display:none;
  }
  .branding { 
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display:flex;
  }
  .xlogo {
    width: 5.625rem;
    height: 6.875rem;
  }
  h1 {
    margin-left: .6rem;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1;
  }
  .awards {
    font-size: .8rem;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 4vh;
  }
  .social-icons-3 {
    grid-column: 1 / 5;
    grid-row: 93 / 95;
  }
  .social-icons-4 {
    grid-column: 1 / 5;
    grid-row: 120 / 125;
  }

  .bio {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 2.5vh;
  }
  .bio-sub-heading {
    font-size: 1rem;
    text-align: center;
  }

  .about-text {
    grid-column: 1 / 5;
    grid-row: 4 / 8;
  }
  .header-menu-item {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.7;
    text-align: right;
  }
  .header-menu {
    max-width: 100%;
    grid-column: 4 / 5;
    grid-row: 1 / 7;
    justify-items: center;
  }

  .project-wrapper {
    grid-column: 1 / 5;
    grid-row: 3 / 20;
    display: grid;
  }
  
  /* Sidebar */
  .project-aside {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    padding-bottom: 2vh;
    text-align: center;
  }
  .project-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .project-info {
    padding-top: 2vh;
    padding-bottom: 1vh;
  }
  
  /* Main Project Image Area */
  .project-images {
    grid-column: 1 / 5;
    grid-row: 6 / 35;
  }
  .project-pic {
    margin-bottom: 3vh;
  }

  /* OVERLAYS */
  #smiley1-overlay {display: none; visibility: hidden;}
  #smiley2-overlay {display: none; visibility: hidden;}
   #smiley3-overlay {display: none; visibility: hidden;}
   #smiley4-overlay {display: none; visibility: hidden;}
   #crown-overlay {display: none; visibility: hidden;}
   #arrow1-overlay {display: none; visibility: hidden;}
   #arrow2-overlay {display: none; visibility: hidden;}
   #arrow3-overlay {display: none; visibility: hidden;}
   #heart1-overlay {display: none; visibility: hidden;}
   #heart2-overlay {display: none; visibility: hidden;}
   #heart3-overlay {display: none; visibility: hidden;}
   #heart4-overlay {display: none; visibility: hidden;}
   #circle1-overlay {display: none; visibility: hidden;}
   #circle2-overlay {display: none; visibility: hidden;}
   #star1-overlay {display: none; visibility: hidden;}
   #star2-overlay {display: none; visibility: hidden;}
   #star3-overlay {display: none; visibility: hidden;}
   #star4-overlay {display: none; visibility: hidden;}
   #star5-overlay {display: none; visibility: hidden;}
   #star6-overlay {display: none; visibility: hidden;}
   #star7-overlay {display: none; visibility: hidden;}
   #flower1-overlay {display: none; visibility: hidden;}
   #flower2-overlay {display: none; visibility: hidden;}
   #flower3-overlay {display: none; visibility: hidden;}
   #flower4-overlay {display: none; visibility: hidden;}
  #pinkieswear-overlay {display: none; visibility: hidden;}
  #kickboxing-overlay {display: none; visibility: hidden;}
  #baobao-overlay {display: none; visibility: hidden;}
  #butterly-overlay {display: none; visibility: hidden;}
  #gossamer-overlay {display: none; visibility: hidden;}
  #keyboard1-overlay {display: none; visibility: hidden;}
  #keyboard2-overlay {display: none; visibility: hidden;}
  #kira-overlay {display: none; visibility: hidden;}
  #indigenous1-overlay {display: none; visibility: hidden;}
  #indigenous2-overlay {display: none; visibility: hidden;}

  /* THUMBNAIL IMAGES */
  .capstone-thumbnail {
    grid-column: 1 / 3;
    grid-row: 4 / 7;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
    padding-top: 3vh;
  }

  .kickboxing-thumbnail {
    grid-column: 2 / 5;
    grid-row: 9 / 18;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .indigenous-thumbnail {
    grid-column: 1 / 4;
    grid-row: 21 / 30;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .gossamer-gin-thumbnail {
    grid-column: 2 / 4;
    grid-row: 33 / 42;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .keyboard-thumbnail {
    grid-column: 2 / 5;
    grid-row: 45 / 54;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .butterly-thumbnail {
    grid-column: 1 / 3;
    grid-row: 57 / 60;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .pinkie-swear-thumbnail {
    grid-column: 2 / 5;
    grid-row: 69 / 78;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }


  .baobao-thumbnail {
    grid-column: 1 / 4;
    grid-row: 81 / 90;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .profile-pic {
    grid-column: 1 / 5;
    grid-row: 17 / 20;
  }
     /* Playground */
   .spongebob-1 {
    grid-column: 1 / 5;
    grid-row: 4 / 7;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    padding-top: 5vh;
    transform: rotate(-0.03turn);
  }
  .spongebob-2 {
    grid-column: 2 / 5;
    grid-row: 6 / 9;
    justify-items: center;
    align-items: center;
    padding-bottom: 5vh;
    transform: rotate(+0.05turn);
  }
  .kyoto-1 {
    grid-column: 1 / 4;
    grid-row: 15 / 20;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(+0.02turn);
  }
  .kyoto-2 {
    grid-column: 2 / 5;
    grid-row: 19 / 25;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(-0.04turn);
  }
  .azn-1 {
    grid-column: 2 / 5;
    grid-row: 30 / 40;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(-0.02turn);
  }
  .azn-2 {
    grid-column: 1 / 4;
    grid-row: 25 / 35;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(+0.02turn);
  }
  .azn-3 {
    grid-column: 1 / 4;
    grid-row: 35 / 45;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(-0.01turn);
  }
  .achi-1 {
    grid-column: 1 / 5;
    grid-row: 45 / 55;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(-0.02turn);
  }
  .achi-2 {
    grid-column: 1 / 3;
    grid-row: 57 / 67;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(+0.05turn);
  }
  .achi-3 {
    grid-column: 3 / 5;
    grid-row: 51 / 61;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(-0.05turn);
  }
  .lisalovely-1 {
    grid-column: 1 / 4;
    grid-row: 67 / 77;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(-0.02turn);
  }
  .lisalovely-2 {
    grid-column: 2 / 5;
    grid-row: 69 / 79;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(+0.02turn);
  }
  .typeface-1 {
    grid-column: 1 / 4;
    grid-row: 79 / 87;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(-0.02turn);
  }
  .typeface-2 {
    grid-column: 3 / 5;
    grid-row: 81 / 89;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(+0.03turn);
  }
  .ikigai-1 {
    grid-column: 1 / 4;
    grid-row: 89 / 99;
    justify-items: center;
    align-items: center;
    padding-bottom: 10vh;
    transform: rotate(-0.02turn);
  }
  .ikigai-2 {
    grid-column: 2 / 5;
    grid-row: 94 / 104;
    justify-items: center;
    align-items: center;
    transform: rotate(+0.04turn);
    padding-bottom: 10vh;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(77, 1fr);
    grid-template-rows: repeat(45, 2.06666666666vh);
    padding: 2rem;
  }

  .project-info {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  h1 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.1;
  }

  .awards {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
  }
  .social-icons-2 {
    justify-content: left;
  }
  .social-icons-3 {
    display: none;
    visibility: hidden;
  }
  .social-icons-4 {
    display: none;
    visibility: hidden;
  }

  .bio {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 2rem;
    padding-top: 0;
    text-align: left;
  }
  .bio-sub-heading {
    text-align: left;
  }

  .about-text {
    grid-column: 43 / 69;
    grid-row: 9 / 50;
  }

  .header-menu-item {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: right;
  }

  .button-container {
    display:inline-block;
    grid-column: 77 / 78;
    grid-row: 37 / 46;
    position: fixed;
    bottom: 2rem;
    right: 1.6rem;
    justify-items: center;
    align-items: center;
  }

  .switch {
    border: 0.1rem solid white;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1vh;
  }

  .header-menu {
    max-width: 100%;
    grid-column: 65 / 78;
    grid-row: 1 / 7;
    justify-items: center;
  }

  .branding {
    grid-column: 1 / 17;
    grid-row: 1 / 15;
    display: flex;
  }

  .xlogo {
    width: 6.25rem;
    height: 7.5rem;
  }

  .name {
    margin-left: .2rem;
  }

  .project-wrapper {
    grid-column: 2 / 76;
    grid-row: 8 / 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Sidebar */
  .project-aside {
    width: 45%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 90vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
  }
  
  .project-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
  }
  
  .arrow {
    padding-right: 1rem;
    padding-left: 0;
  }
  /*project name font*/
h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .75rem;
}
/*project page secondary text under title*/
h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: .5rem;
}
/*awards on project page*/
h5 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
}
.project-page-awards {
  margin-bottom: .75rem;
}
p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}
  
  /* Main Project Image Area */
  .project-images {
    width: 100%;
    padding: 1rem;
  }
  .project-pic {
    margin-bottom: 3rem;
  }

  /* OVERLAY IMAGES
 
   #pinkieswear-overlay {
    grid-column: 26 / 39;
    grid-row: 32 / 39;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #butterly-overlay {
    grid-column: 22 / 32;
    grid-row: 15 / 19;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #baobao-overlay {
    grid-column: 48 / 55;
    grid-row: 15 / 21;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #kickboxing-overlay {
    grid-column: 15 / 24;
    grid-row: 7 / 12;
    display: none;
    visibility: visible;
    z-index: 20;
   } */

  /* THUMBNAIL IMAGES */
  .capstone-thumbnail {
    grid-column: 4 / 19;
    grid-row: 11 / 30;

    justify-items: center;
    align-items: center;
  }

  .kickboxing-thumbnail {
    grid-column: 26 / 47;
    grid-row: 6 / 13;
    justify-items: center;
    align-items: center;
  }

  .indigenous-thumbnail {
    grid-column: 4 / 24;
    grid-row: 30 / 36;
    justify-items: center;
    align-items: center;
  }

  .gossamer-gin-thumbnail {
    grid-column: 54 / 73;
    grid-row: 22 / 28;
    justify-items: center;
    align-items: center;
  }

  .keyboard-thumbnail {
    grid-column: 55 / 72;
    grid-row: 35 / 40;
    justify-items: center;
    align-items: center;
  }

  .baobao-thumbnail {
    grid-column: 54 / 74;
    grid-row: 9 / 16;
    justify-items: center;
    align-items: center;
  }

  .pinkie-swear-thumbnail {
    grid-column: 30 / 48;
    grid-row: 36 / 42;
    justify-items: center;
    align-items: center;
  }

  .butterly-thumbnail {
    grid-column: 29 / 43;
    grid-row: 19 / 26;
    justify-items: center;
    align-items: center;
  }

  .profile-pic {
    grid-column: 10 / 40;
    grid-row: 9 / 30;
  }

   /* Playground */
   .spongebob-1 {
    grid-column: 10 / 31;
    grid-row: 12 / 26;
    transform: rotate(-0.05turn);
    cursor: move;
  }
  .spongebob-2 {
    grid-column: 7 / 28;
    grid-row: 15 / 28;
    transform: rotate(+0.05turn);
    cursor: move;
  }
  .kyoto-1 {
    grid-column: 36 / 48;
    grid-row: 11 / 19;
    transform: rotate(+0.02turn);
    cursor: move;
  }
  .kyoto-2 {
    grid-column: 38 / 51;
    grid-row: 6 / 18;
    transform: rotate(-0.04turn);
    cursor: move;
  }
  .azn-1 {
    grid-column: 58 / 70;
    grid-row: 8 / 20;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .azn-2 {
    grid-column: 58 / 70;
    grid-row: 10 / 20;
    transform: rotate(+0.02turn);
    cursor: move;
  }
  .azn-3 {
    grid-column: 64 / 76;
    grid-row: 15 / 25;
    transform: rotate(-0.01turn);
    cursor: move;
  }
  .achi-1 {
    grid-column: 4 / 25;
    grid-row: 30 / 40;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .achi-2 {
    grid-column: 15 / 25;
    grid-row: 35 / 55;
    transform: rotate(+0.05turn);
    cursor: move;
  }
  .achi-3 {
    grid-column: 10 / 21;
    grid-row: 43 / 59;
    transform: rotate(-0.05turn);
    cursor: move;
  }
  .lisalovely-1 {
    grid-column: 32 / 44;
    grid-row: 29 / 39;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .lisalovely-2 {
    grid-column: 36 / 50;
    grid-row: 33 / 43;
    transform: rotate(+0.02turn);
    cursor: move;
  }
  .typeface-1 {
    grid-column: 55 / 68;
    grid-row: 39 / 55;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .typeface-2 {
    grid-column: 58 / 70;
    grid-row: 43 / 59;
    transform: rotate(+0.03turn);
    cursor: move;
  }
  .ikigai-1 {
    grid-column: 30 / 44;
    grid-row: 55 / 65;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .ikigai-2 {
    grid-column: 35 / 49;
    grid-row: 55 / 65;
    transform: rotate(+0.04turn);
    cursor: move;
  }

}

/* LARGE
DEVICES
(desktops, 1000px and up) */
@media (min-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(77, 1fr);
    grid-template-rows: repeat(45, 2.06666666666vh);

      padding: 2.3rem;
    /* Top Right Bottom Left */

  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.15;
  }
  .bio-sub-heading {
    font-size: 1.1rem;
  }
  .name {
    margin-left: .3rem;
  }
  .icon-2 {
    margin-left: 0;
  }

  .button-container {
    grid-column: 77 / 78;
    grid-row: 36 / 46;
  }

  .switch {
    width: 2.6rem;
    height: 2.6rem;
    border: 0.15rem solid white;
  }

  .header-menu {
    max-width: 100%;
    grid-column: 65 / 78;
    grid-row: 1 / 7;
    justify-items: center;
  }

  .header-menu-item {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: right;
  }

  .branding {
    grid-column: 1 / 15;
    grid-row: 1 / 14;
    display: flex;
  }

  /* .xlogo {
    width: 7.063rem;
    height: 8.188rem;
  } */

  .project-wrapper {
    grid-column: 4 / 75;
    grid-row: 9 / 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Sidebar */
  .project-aside {
    width: 40%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .project-navigation {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
  }
  
  .arrow {
    padding-right: 1rem;
  }
  /*project name font*/
h2 {
  font-size: 2.9rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .75rem;
}
/*project page secondary text under title*/
h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: .5rem;
}
/*awards on project page*/
h5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}
p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}
  
  /* Main Project Image Area */
  .project-images {
    width: 100%;
    padding: 1rem;
  }
  .project-pic {
    margin-bottom: 3rem;
  }

  /* THUMBNAIL IMAGES */
  .capstone-thumbnail {
    grid-column: 4 / 19;
    grid-row: 12 / 24;
    padding-top: 0;
  }

  .kickboxing-thumbnail {
    grid-column: 27 / 48;
    grid-row: 4 / 12;
  }

  .indigenous-thumbnail {
    grid-column: 4 / 24;
    grid-row: 32 / 40;
  }

  .gossamer-gin-thumbnail {
    grid-column: 58 / 74;
    grid-row: 22 / 29;
  }

  .keyboard-thumbnail {
    grid-column: 54 / 71;
    grid-row: 34 / 40;
  }

  .baobao-thumbnail {
    grid-column: 57 / 76;
    grid-row: 9 / 15;
  }

  .pinkie-swear-thumbnail {
    grid-column: 31 / 47;
    grid-row: 36 / 43;
  }

  .butterly-thumbnail {
    grid-column: 30 / 42;
    grid-row: 19 / 32;
  }

  .profile-pic {
    grid-column: 10 / 40;
    grid-row: 9 / 30;
  }
     /* Playground */
     .spongebob-1 {
      grid-column: 8 / 29;
      grid-row: 11 / 25;
      transform: rotate(-0.05turn);
      cursor: move;
    }
    .spongebob-2 {
      grid-column: 5 / 26;
      grid-row: 14 / 27;
      transform: rotate(+0.05turn);
      cursor: move;
    }
    .kyoto-1 {
      grid-column: 36 / 48;
      grid-row: 11 / 19;
      transform: rotate(+0.02turn);
      cursor: move;
    }
    .kyoto-2 {
      grid-column: 38 / 51;
      grid-row: 6 / 18;
      transform: rotate(-0.04turn);
      cursor: move;
    }
    .azn-1 {
      grid-column: 58 / 70;
      grid-row: 8 / 20;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .azn-2 {
      grid-column: 58 / 70;
      grid-row: 10 / 20;
      transform: rotate(+0.02turn);
      cursor: move;
    }
    .azn-3 {
      grid-column: 64 / 76;
      grid-row: 15 / 25;
      transform: rotate(-0.01turn);
      cursor: move;
    }
    .achi-1 {
      grid-column: 4 / 25;
      grid-row: 30 / 40;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .achi-2 {
      grid-column: 15 / 25;
      grid-row: 35 / 55;
      transform: rotate(+0.05turn);
      cursor: move;
    }
    .achi-3 {
      grid-column: 10 / 21;
      grid-row: 43 / 59;
      transform: rotate(-0.05turn);
      cursor: move;
    }
    .lisalovely-1 {
      grid-column: 32 / 44;
      grid-row: 26 / 36;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .lisalovely-2 {
      grid-column: 36 / 50;
      grid-row: 33 / 43;
      transform: rotate(+0.02turn);
      cursor: move;
    }
    .typeface-1 {
      grid-column: 55 / 68;
      grid-row: 39 / 55;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .typeface-2 {
      grid-column: 58 / 70;
      grid-row: 43 / 59;
      transform: rotate(+0.03turn);
      cursor: move;
    }
    .ikigai-1 {
      grid-column: 30 / 44;
      grid-row: 52 / 62;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .ikigai-2 {
      grid-column: 35 / 49;
      grid-row: 55 / 65;
      transform: rotate(+0.04turn);
      cursor: move;
    }
 
}

@media (min-width: 1200px) {
  .grid-container {
    padding: 2rem;
  }
  /* .xlogo {
    width: 8.313rem;
    height: 9.625rem;
  } */
  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .switch {
    width: 2.3rem;
    height: 2.3rem;
  }
  .name {
    margin-left: .5rem;
  }
  .bio {
    font-size: 2rem;
    line-height: 1.25;
  }
  .bio-sub-heading {
    font-size: 1.3rem;
  }
  .project-aside {
    width: 30%;
  }
  .project-wrapper {
    grid-column: 4 / 76;
    grid-row: 10 / 200;
  }

   /* OVERLAY IMAGES */
   #smiley1-overlay {
    grid-column: 20 / 24;
    grid-row: 20 / 25;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #smiley2-overlay {
    grid-column: 22 / 26;
    grid-row: 35 / 40;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #smiley3-overlay {
    grid-column: 66 / 70;
    grid-row: 11 / 16;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #smiley4-overlay {
    grid-column: 43 / 47;
    grid-row: 41 / 45;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #arrow1-overlay {
    grid-column: 38 / 46;
    grid-row: 29 / 32;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #arrow2-overlay {
    grid-column: 58 / 67;
    grid-row: 37 / 40;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #arrow3-overlay {
    grid-column: 42 / 55;
    grid-row: 3 / 7;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #circle1-overlay {
    grid-column: 4 / 11;
    grid-row: 20 / 32;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #circle2-overlay {
    grid-column: 63 / 70;
    grid-row: 26 / 36;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #heart1-overlay {
    grid-column: 42 / 45;
    grid-row: 2 / 6;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #heart2-overlay {
    grid-column: 1 / 5;
    grid-row: 26 / 31;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #heart3-overlay {
    grid-column: 19 / 24;
    grid-row: 20 / 26;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #heart4-overlay {
    grid-column: 23 / 28;
    grid-row: 41 / 45;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #star1-overlay {
    grid-column: 23 / 28;
    grid-row: 39 / 42;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #star2-overlay {
    grid-column: 64 / 70;
    grid-row: 12 / 16;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #star3-overlay {
    grid-column: 41 / 45;
    grid-row: 10 / 14;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #star4-overlay {
    grid-column: 1 / 5;
    grid-row: 25 / 28;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #star5-overlay {
    grid-column: 62 / 70;
    grid-row: 37 / 42;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #star6-overlay {
    grid-column: 43 / 48;
    grid-row: 40 / 45;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #star7-overlay {
    grid-column: 1 / 5;
    grid-row: 12 / 16;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #flower1-overlay {
    grid-column: 63 / 66;
    grid-row: 32 / 37;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #flower2-overlay {
    grid-column: 42 / 46;
    grid-row: 22 / 26;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #flower3-overlay {
    grid-column: 65 / 72;
    grid-row: 9 / 15;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #flower4-overlay {
    grid-column: 62 / 68;
    grid-row: 37 / 42;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #crown-overlay {
    grid-column: 62 / 66;
    grid-row: 4 / 10;
    visibility: visible;
    display: none;
    z-index: 20;
   }
   #pinkieswear-overlay {
    grid-column: 42 / 53;
    grid-row: 23 / 28;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #butterly-overlay {
    grid-column: 69 / 78;
    grid-row: 15 / 19;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #baobao-overlay {
    grid-column: 64 / 70;
    grid-row: 9 / 16;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #kickboxing-overlay {
    grid-column: 15 / 23;
    grid-row: 7 / 13;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #gossamer-overlay {
    grid-column: 20 / 27;
    grid-row: 17 / 24;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #kira-overlay {
    grid-column: 15 / 21;
    grid-row: 8/ 16;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #indigenous1-overlay {
    grid-column: 1 / 8;
    grid-row: 28 / 34;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #indigenous2-overlay {
    grid-column: 20 / 27;
    grid-row: 38 / 43;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #keyboard1-overlay {
    grid-column: 21 / 28;
    grid-row: 33 / 38;
    display: none;
    visibility: visible;
    z-index: 20;
   }
   #keyboard2-overlay {
    grid-column: 42 / 47;
    grid-row: 39 / 44;
    display: none;
    visibility: visible;
    z-index: 20;
   }

   /* THUMBNAIL IMAGES */
   .capstone-thumbnail {
    grid-column: 7 / 17;
    grid-row: 13 / 21;
  }

  .kickboxing-thumbnail {
    grid-column: 24 / 40;
    grid-row: 5 / 12;
  }

  .indigenous-thumbnail {
    grid-column: 4 / 20;
    grid-row: 31 / 41;
  }

  .gossamer-gin-thumbnail {
    grid-column: 26 / 40;
    grid-row: 20 / 33;
  }

  .keyboard-thumbnail {
    grid-column: 28 / 41;
    grid-row: 35 / 43;
  }

  .baobao-thumbnail {
    grid-column: 47 / 63;
    grid-row: 8 / 19;
  }

  .pinkie-swear-thumbnail {
    grid-column: 48 / 61;
    grid-row: 28 / 39;
  }

  .butterly-thumbnail {
    grid-column: 67 / 77;
    grid-row: 20 / 31;
  }
}


/* X-Large devices (large desktops, 1390px and up)*/
@media (min-width: 1390px) {

  .bio {
    font-size: 2.4rem;
  }
  .switch{
    width: 2.6rem;
    height: 2.6rem;
  }

   .xlogo {
    width: 8.313rem;
    height: 9.625rem;
  }

  .header-menu {
    max-width: 100%;
    grid-column: 71 / 78;
    grid-row: 1 / 7;
    justify-items: center;
  }

  .branding {
    grid-column: 1 / 17;
    grid-row: 1 / 7;
    display: flex;
  }

  /* OVERLAY IMAGES */
  #keyboard1-overlay {
    grid-column: 22 / 30;
    grid-row: 31 / 37;
   }
  #arrow1-overlay {
    grid-column: 38 / 45;
    grid-row: 30 / 34;
   }
  #arrow2-overlay {
    grid-column: 58 / 66;
    grid-row: 40 / 43;
   }
  #smiley3-overlay {
    grid-column: 64 / 70;
    grid-row: 11 / 16;
   }
  #pinkieswear-overlay {
    grid-column: 42 / 52;
    grid-row: 22 / 27;
   }
   #kickboxing-overlay {
    grid-row: 5 / 12;
   }
   #baobao-overlay {
    grid-column: 63 / 68;
   }
   #heart4-overlay {
    grid-column: 25 / 30;
   }
   #butterly-overlay {
    grid-row: 12 / 17;
   }
   #kira-overlay {
    grid-row: 6 / 14;
   }
   #circle1-overlay {
    grid-column: 4 / 10;
    grid-row: 22 / 30;
   }
   #indigenous2-overlay {
    grid-row: 40 / 46;
   }
   #gossamer-overlay {
    grid-column: 22 / 28;
    grid-row: 17 / 23;
   }

  /* THUMBNAIL IMAGES */
  .capstone-thumbnail {
    grid-column: 7 / 17;
    grid-row: 12 / 25;
  }

  .kickboxing-thumbnail {
    grid-column: 24 / 40;
    grid-row: 4 / 13;
  }

  .indigenous-thumbnail {
    grid-column: 4 / 20;
    grid-row: 31 / 41;
  }

  .gossamer-gin-thumbnail {
    grid-column: 27 / 40;
    grid-row: 20 / 27;
  }

  .keyboard-thumbnail {
    grid-column: 29 / 41;
    grid-row: 35 / 42;
  }

  .baobao-thumbnail {
    grid-column: 46 / 62;
    grid-row: 8 / 19;
  }

  .pinkie-swear-thumbnail {
    grid-column: 48 / 61;
    grid-row: 28 / 38;
  }

  .butterly-thumbnail {
    grid-column: 67 / 76;
    grid-row: 18 / 28;
  }
     /* Playground */
     .spongebob-1 {
      grid-column: 10 / 31;
      grid-row: 7 / 21;
      transform: rotate(-0.05turn);
      cursor: move;
    }
    .spongebob-2 {
      grid-column: 7 / 28;
      grid-row: 10 / 23;
      transform: rotate(+0.05turn);
      cursor: move;
    }
    .kyoto-1 {
      grid-column: 36 / 48;
      grid-row: 11 / 19;
      transform: rotate(+0.02turn);
      cursor: move;
    }
    .kyoto-2 {
      grid-column: 38 / 51;
      grid-row: 6 / 18;
      transform: rotate(-0.04turn);
      cursor: move;
    }
    .azn-1 {
      grid-column: 58 / 70;
      grid-row: 8 / 20;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .azn-2 {
      grid-column: 58 / 70;
      grid-row: 10 / 20;
      transform: rotate(+0.02turn);
      cursor: move;
    }
    .azn-3 {
      grid-column: 64 / 76;
      grid-row: 15 / 25;
      transform: rotate(-0.01turn);
      cursor: move;
    }
    .achi-1 {
      grid-column: 4 / 25;
      grid-row: 30 / 40;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .achi-2 {
      grid-column: 15 / 25;
      grid-row: 35 / 55;
      transform: rotate(+0.05turn);
      cursor: move;
    }
    .achi-3 {
      grid-column: 10 / 21;
      grid-row: 43 / 59;
      transform: rotate(-0.05turn);
      cursor: move;
    }
    .lisalovely-1 {
      grid-column: 32 / 44;
      grid-row: 29 / 39;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .lisalovely-2 {
      grid-column: 36 / 50;
      grid-row: 33 / 43;
      transform: rotate(+0.02turn);
      cursor: move;
    }
    .typeface-1 {
      grid-column: 55 / 68;
      grid-row: 39 / 55;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .typeface-2 {
      grid-column: 58 / 70;
      grid-row: 43 / 59;
      transform: rotate(+0.03turn);
      cursor: move;
    }
    .ikigai-1 {
      grid-column: 30 / 44;
      grid-row: 55 / 65;
      transform: rotate(-0.02turn);
      cursor: move;
    }
    .ikigai-2 {
      grid-column: 35 / 49;
      grid-row: 55 / 65;
      transform: rotate(+0.04turn);
      cursor: move;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1900px) {
  .xlogo {
    width: 10.813rem;
    height: 12.125rem;
  }
  h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.25;
  }
  h4 {
    font-size: 1.4rem;
  }
  .awards {
    font-size: 1.3rem;
    line-height: 1.7;
  }
  .name {
    margin-left: 1.2rem;
  }
  .header-menu-item {
    font-size: 1.6rem;
    line-height: 1.7;
  }
  .bio {
    font-size: 2.9rem;
  }
  .project-images{
    margin-left: 3rem;
  }
  /* Playground */
  .spongebob-1 {
    grid-column: 8 / 28;
    grid-row: 7 / 20;
    transform: rotate(-0.05turn);
    cursor: move;
  }
  .spongebob-2 {
    grid-column: 5 / 26;
    grid-row: 12 / 25;
    transform: rotate(+0.05turn);
    cursor: move;
  }
  .kyoto-1 {
    grid-column: 36 / 48;
    grid-row: 11 / 19;
    transform: rotate(+0.02turn);
    cursor: move;
  }
  .kyoto-2 {
    grid-column: 38 / 51;
    grid-row: 6 / 18;
    transform: rotate(-0.04turn);
    cursor: move;
  }
  .azn-1 {
    grid-column: 58 / 70;
    grid-row: 8 / 20;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .azn-2 {
    grid-column: 58 / 70;
    grid-row: 10 / 20;
    transform: rotate(+0.02turn);
    cursor: move;
  }
  .azn-3 {
    grid-column: 64 / 76;
    grid-row: 15 / 25;
    transform: rotate(-0.01turn);
    cursor: move;
  }
  .achi-1 {
    grid-column: 4 / 25;
    grid-row: 35 / 45;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .achi-2 {
    grid-column: 15 / 25;
    grid-row: 40 / 60;
    transform: rotate(+0.05turn);
    cursor: move;
  }
  .achi-3 {
    grid-column: 10 / 21;
    grid-row: 48 / 64;
    transform: rotate(-0.05turn);
    cursor: move;
  }
  .lisalovely-1 {
    grid-column: 32 / 44;
    grid-row: 31 / 41;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .lisalovely-2 {
    grid-column: 36 / 50;
    grid-row: 35 / 45;
    transform: rotate(+0.02turn);
    cursor: move;
  }
  .typeface-1 {
    grid-column: 55 / 68;
    grid-row: 42 / 58;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .typeface-2 {
    grid-column: 60 / 72;
    grid-row: 46 / 62;
    transform: rotate(+0.03turn);
    cursor: move;
  }
  .ikigai-1 {
    grid-column: 30 / 44;
    grid-row: 54 / 64;
    transform: rotate(-0.02turn);
    cursor: move;
  }
  .ikigai-2 {
    grid-column: 35 / 49;
    grid-row: 57 / 67;
    transform: rotate(+0.04turn);
    cursor: move;
  }
}