:root {
  --back-color: #E3F8FF;
  --primary-color: #53815D;
  --header-back: #1a1d24;
  --header-text: #53815D;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}
header {
  background-color: var(--header-back);
  color: var(--header-text);
}

.box img {
  border: 2px solid var(--primary-color);
}

a {color: var(--primary-color)}

.cls-1 {fill: var(--primary-color)}
