:root {
  --back-color: #FFF5F5;
  --primary-color: #DD3E3E;
  --header-back: #5d5d5d;
  --header-text: #DD3E3E;
}
body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

header {
  background-color: var(--header-back);
  color: var(--header-text);
}

.box img {
  border: 2px solid var(--primary-color);
}

a {color: var(--primary-color)}

.cls-1 {fill: var(--primary-color)}

#smiley1-overlay {background: url(../overlays/smiley-face-overlay.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 102px;
}