:root {
  --back-color: #fed7e2;
  --primary-color: #60b43f;
  --header-back: #874f5e;
  --header-text: #eee;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

header {
  background-color: var(--header-back);
  color: var(--header-text);
}

.box img {
  border: 2px solid var(--primary-color);
}

a {color: yellow;}
a:hover {green;}
.cls-1 {fill: blue;}

#smiley1-overlay {background: url(../overlays/smiley-face-overlay.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 102px;
}
